<%= form_with(model: house, local: true) do |form| %>
  <% if house.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(house.errors.count, "error") %> prohibited this house from being saved:</h2>

      <ul>
      <% house.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :location %><br>
    <%= form.text_area :location %>
  </div>
  <div class="field">
    <%= form.label :square_footage %><br>
    <%= form.text_area :square_footage %>
  </div>
  <div class="field">
    <%= form.label :year_built %><br>
    <%= form.text_area :year_built %>
  </div>
  <div class="field" >
    <%= form.label :style%><br>
    <select name = "house[style]">
      <option value = "Single family house" selected = "selected">Single family house</option>
      <option value = "Apartment">Apartment</option>
      <option value = "Condos">Condos</option>
  </select>
  </div>
  <div class="field">
    <%= form.label :list_price %><br>
    <%= form.text_area :list_price %>
  </div>
  <div class="field">
    <%= form.label :floors %><br>
    <%= form.text_area :floors %>
  </div>
  <div class="field">
    <%= form.label :basement %><br>
    <select name = "house[basement]">
      <option value = "Yes" selected = "selected">Yes</option>
      <option value = "No">No</option>
    </select>
  </div>
  <div class="field">
    <%= form.label :current_house_owner %><br>
    <%= form.text_area :current_house_owner %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
