<body>
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<br>
<p style="text-align:center;color:red;font-size:60px;">AAAAAAAdminHSBTS</p>

<br><br>
<p style="text-align:center;font-size:25px">
  <%= link_to 'Manage REC', real_estate_companies_path %>
  <%= link_to 'Manage User', users_path%>
  <br>
  <%= link_to 'View Current Houses', houses_path%>
  <%= link_to 'View Inquiries', inquiries_path %>
</p>

</body>
</html>