<!DOCTYPE html>
<html>
<head>
  <title>HSBTS</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<h1 >HSBTS</h1>
<%= link_to 'Manage REC', real_estate_companies_path %>
<br>
<%= link_to 'Manage User', users_path%>
<br>
<%= link_to 'View Current Houses', houses_path%>



</body>
</html>
