<!DOCTYPE html>
<html>
<head>
  <title>HSBTS</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
<% if current_user %>
<% if current_user.role=="househunter"  %>
<br>
<p style="text-align:center;color:red;font-size:60px;">Welcome, House hunter</p>

<br><br>

</p>
<p style="text-align:center;color:red;font-size:30px;">
  <%= link_to 'View Companies',real_estate_companies_path %>
  <%= link_to 'View Houses',houses_path %>
  <%= link_to 'New Interest',new_interest_path %>
  <%= link_to 'New Inquiry',new_inquiry_path%>
  <%= link_to 'View Inquiries','/users/showinquiry/'+current_user.id %>
</p>
</body>
</html>
