<p id="notice"><%= notice %></p>

<p>
  <strong>Id:</strong>
  <%= @real_estate_company.id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @real_estate_company.Name %>
</p>

<p>
  <strong>Webstie:</strong>
  <%= @real_estate_company.Webstie %>
</p>

<p>
  <strong>Address:</strong>
  <%= @real_estate_company.Address %>
</p>

<p>
  <strong>Size:</strong>
  <%= @real_estate_company.Size %>
</p>

<p>
  <strong>Founded:</strong>
  <%= @real_estate_company.Founded %>
</p>

<p>
  <strong>Revenue:</strong>
  <%= @real_estate_company.Revenue %>
</p>

<p>
  <strong>Synopsis:</strong>
  <%= @real_estate_company.Synopsis %>
</p>

<%= link_to 'Edit', edit_real_estate_company_path(@real_estate_company) %> |
<%= link_to 'Back', real_estate_companies_path %>
