<h1>New Picture</h1>

<%= form_with(model: @picture, local: true) do |form| %>
    <% if @picture.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@picture.errors.count, "error") %> prohibited this picture from being saved:</h2>

          <ul>
            <% @picture.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <%= hidden_field_tag('picture[house_id]', @house.house_id) %>

    <p>
      <%= form.label 'Upload Pictures' %><br />
      <%= form.file_field :picture_url %>
      <%= form.hidden_field :picture_url_cache %>
    </p>

    <div class="actions">
      <%= form.submit %>
    </div>
<% end %>

<%= link_to 'Back', pictures_path %>
