<%= form_with(model: inquiry, local: true) do |form| %>
  <% if inquiry.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(inquiry.errors.count, "error") %> prohibited this inquiry from being saved:</h2>

      <ul>
      <% inquiry.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :houseid %>
    <%= form.number_field :houseid %>
  </div>

  <div class="field">
    <%= form.label :userid %>
    <%= form.number_field :userid %>
  </div>

  <div class="field">
    <%= form.label :subject %>
    <%= form.text_field :subject %>
  </div>

  <div class="field">
    <%= form.label :msg %>
    <%= form.text_field :msg %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
