<!DOCTYPE html>
<html>
  <head>
    <title>Program2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <% if current_user %>
    <%= link_to('log out', destroy_user_session_path, :method => :delete) %> |
    <%= link_to('edit profile', edit_registration_path(:user)) %>
  <% else %>
    <%= link_to('register', new_registration_path(:user)) %> |
    <%= link_to('log in', new_session_path(:user)) %>
  <% end %>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
